@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    <ImportMap />

    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <!--script src="/src/sortable.js"></script-->
    <script>
        window.isBlazorWasm = !!window.Blazor && !!Blazor._internal && !!Blazor._internal.dotNetRuntime;
    </script>

    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }
    </script>

    <TpvVyber.Client.Routes @rendermode="InteractiveAuto" />
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
    <script src="_framework/blazor.web.js"></script>


    <script src="src/bootstrap.bundle.min.js"></script>
    <!-- Add chart.js reference if chart components are used in your application. -->
    <script src="src/chart.umd.js"></script>
    <!-- Add chartjs-plugin-datalabels.min.js reference if chart components with data label feature is used in your application. -->
    <script src="src/chartjs-plugin-datalabels.min.js"></script>
    <!-- Add sortable.js reference if SortableList component is used in your application. -->
    <script src="src/Sortable.min.js"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
}