@page "/admin"

<PageTitle>Admin</PageTitle>
<MudLink Href="/admin/courses">Kurzy TPV</MudLink>
<MudLink Href="/admin/students">Žáci</MudLink>
<MudLink Href="/admin/ordercourses">Pořadí kurzů</MudLink>
<br />
<MudText>Wasm?</MudText>
<p>@RendererInfo.Name</p>