@page "/admin"
@inject IAdminService AdminService

<PageTitle>Admin</PageTitle>
<MudText Typo="Typo.h4" Class="my-4">Administrační rozhraní</MudText>
<p>Vítejte v administračním rozhraní aplikace Tpv Výběr. Zde můžete spravovat různé aspekty aplikace, včetně kurzů a žáků.</p>
<br />

<MudText Typo="Typo.h6">Správa kurzů (@coursesCount) <MudLink Href="/admin/courses">Kurzy TPV</MudLink></MudText>

<MudText Typo="Typo.h6">Správa žáků (@studentsCount) <MudLink Href="/admin/students">Žáci</MudLink></MudText>

<MudText Typo="Typo.h6">Pořadí kurzů (@orderCoursesCount) <MudLink Href="/admin/ordercourses">Pořadí kurzů</MudLink></MudText>
<br />

@code {
    private int coursesCount;
    private int studentsCount;
    private int orderCoursesCount;

    protected override async Task OnInitializedAsync()
    {
        coursesCount = (await AdminService.GetAllCoursesAsync()).Count();
        studentsCount = (await AdminService.GetAllStudentsAsync()).Count();
        orderCoursesCount = (await AdminService.GetAllOrderCourseAsync()).Count();
    }
}